header {
  color: cadetblue; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  header nav li {
    display: inline-block; }
  header nav a {
    display: block;
    padding: 6px 12px;
    text-decoration: none; }
  header h5 {
    color: green; }
